<!-- Experience Section -->
    <section id="experience">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Experience</h2>
                    <h3 class="section-subheading text-muted">Lorem ipsum dolor sit amet consectetur.</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-lg-12">
                    <ul class="timeline">
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/1.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 - 2013</h4>
                                    <h4 class="subheading">B.S. Mechanical Engineering, UCSB</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Studied for 4 years at UCSB and received my B.S. in Mechanical Engeering. During these years, I completed several projects in the fields of robotics, optics, micro-sensors, and aero/fluid/thermodynamics.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/2.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2009 - 2013</h4>
                                    <h4 class="subheading">Network Technician, UCSB Resnet</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Built up the network infrastructure at UCSB, provided IT & Technical support for UCSB staff, faculty & students.</p>
                                </div>
                            </div>
                        </li>
                        <li>
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/3.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2013 - 2014</h4>
                                    <h4 class="subheading">Mechanical Engineer II, Kollabra Consulting</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Designed, built, & tested thermal, mechanical, and robotic solutions for aerospace, automotive & agricultural industries. </p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <img class="img-circle img-responsive" src="img/experience/4.jpg" alt="">
                            </div>
                            <div class="timeline-panel">
                                <div class="timeline-heading">
                                    <h4>2014 - Present</h4>
                                    <h4 class="subheading">Software Engineering Manager, Procore Technologies</h4>
                                </div>
                                <div class="timeline-body">
                                    <p class="text-muted">Lead a team of Front-End Developers in design intuitive & responsive user-interfaces for a large, cloud-based web application.</p>
                                </div>
                            </div>
                        </li>
                        <li class="timeline-inverted">
                            <div class="timeline-image">
                                <h4>Let me
                                    <br>Join Your
                                    <br>Story!</h4>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </section>